html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body{

  background: rgb(77, 71, 73); /* Old Browsers */
  background: -webkit-radial-gradient(top right,rgb(77, 71, 73),rgb(4, 16, 8)); /*Safari 5.1-6*/
  background: -o-radial-gradient(top right,rgb(77, 71, 73),rgb(4, 16, 8)); /*Opera 11.1-12*/
  background: -moz-radial-gradient(top right,rgb(77, 71, 73),rgb(4, 16, 8)); /*Fx 3.6-15*/
  background: radial-gradient(top right, rgb(77, 71, 73), rgb(4, 16, 8)); /*Standard*/
}

.container-fluid{
  max-width: 960px;
}

h1.titleheading{
  font-size: 2.8rem;
  font-family: Lobster;
  font-weight: 700;
  color: #FFF;
  margin-top: 35px;
}

p.firstletter::first-letter{
  font-size: 175%;
  font-family: Papyrus,fantasy;
  color: #e2d1e2;
  padding: 3px;
}

.bodyparts{
  padding: 0 10px;
}


blockquote{
  color: #f2f2f2;
  font-size: 1.3rem;
  font-family: Rancho;
  font-style: oblique;
  text-align: center;
  padding: 0px;
}

@media screen and (max-width: 768px){
  blockquote{
  font-size: 1.3rem;
  }

}

blockquote span#quote-author{
  font-size: 0.95rem;
  margin-left: 2px;
}

@media screen and (max-width: 768px){
  blockquote span#quote-author{
  font-size: 0.9rem; 
  }

}

.portrait-block{
  margin: 10px;
}

.roosevelt-portrait{
  display: block;
  max-width: 55%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 2.5rem;
}

#minibio{ 
  color: #fff;
  font-weight: 100;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2px;
}

@media screen and (max-width: 768px){
  .roosevelt-portrait{
    max-width: 100%;
  }

  #minibio{
  display: none; 
  }

}

.bodyparagraph{
  color: #fff;
  font-size: 1.05rem;
  padding: 0 20px;
  letter-spacing: 0.07rem;
  word-spacing: 0.2rem;
}

@media screen and (max-width: 768px){
  .bodyparagraph{
  font-size: 1.50rem;
  padding: 0 25px; 
  }

}

h3.h3{
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  font-size: 1.35rem;
  cursor: pointer;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px){
  h3.h3{
  font-size: 1.5rem;
  text-align: center; 
  }

}

.partcontent{
  display: none;
}

li.listings{
  color: #fff;
  font-size: 1.15rem;
}

@media screen and (max-width: 768px){
  li.listings{
  font-size: 1.55rem;
  padding: 0 25px; 
  }
  
}

.bodyparts ol p.bodyparagraph, .bodyparts ul p.bodyparagraph{
  margin-top: 10px;
  padding: 0;
}

@media screen and (max-width: 768px){
  .bodyparts ul p.bodyparagraph{
    margin-left: -40px;
  }
}

.bodyparts .division-with-img .support-pic{
  max-width: 20%;
  margin-left: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 768px){
  .bodyparts .division-with-img .support-pic{
    display: none; 
  }

}

#first-lady{
  display: block;
  max-width: 80%;
  margin: 5px auto;
  border-radius: 2%;
}

#civilrightspic{
  display: block;
  max-width: 50%;
  margin-top: 5px;
  margin-right: 12px;
  padding-top: 12px;
  }

  @media screen and (max-width: 768px){
  #civilrightspic{
    display: block;
    float: none !important;
    max-width: 80%;
    margin: 0 auto; 
  }

}

.bodyparts ul.linkbullets{
  list-style: square;
  margin-top: 10px;
}

.bodyparts ul li{
  line-height: 2rem;
}

.bodyparts ul li a{
  color: gray;
  font-size: 0.87rem
}

#timelink{
  margin-left: 9px; 
}

@media screen and (max-width: 768px){
  .bodyparts ul li a{
  font-size: 0.95rem; 
  color: #aea9a9;
  }
}

/*Table*/

table{
  margin: 5px 10px;
}

.table thead th{
  font-size: 1.3rem;
  border-top: 0;
}

.table thead th:first-child{
  width: 25%;
}

@media screen and (max-width: 768px){
  .table thead th, .table tbody td{
    font-size: 0.98rem;
  }

}
footer{
  background-color: rgba(128, 128, 128, 0.01);
  margin-bottom: 0;
}

footer p{
  font-size: 0.75rem;
  text-shadow: 1px 1px 20px black;
  color: #d0d0d0;
  text-align: right;
  padding: 10px 3px 10px 0;
}



